{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body_block %}
  <div class="page-header">
    <h2>Register</h2>
  </div>

  <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  <form class="form-signin" method="post" action=".">
    {% csrf_token %}

    <input class="form-control" placeholder="Username" id="username" maxlength="254" name="username" type="text" required autofocus="" />
    <input class="form-control" placeholder="Email" id="email" name="email" type="text" required />
    <input class="form-control" placeholder="Password" id="password1" name="password1" type="password" required />

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Register</button><br>
    <p class="text-left">Already a member? <a href="{% url 'auth_login' %}">Login Here</a>.</p>
  </form>
{% endblock %}
