{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Practice Foci{% endblock %}

{% block main %}
<script>
function getURLParameter(name) {
  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
}

function redirectTask() {
  var mtwid = getURLParameter('mtwid');
  var tiid = getURLParameter('tiid');
  window.location.replace("http://colcat.calit2.uci.edu:8003/tasks/foci/" + tiid + "?mtwid=" + mtwid);
}

correct = 0;

function checkVal(num){
  question = 'practice_' + num;
  var answer = document.getElementById(question).value;
  if (question == 'practice_03') {
    if (answer == 'Sh') {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = '<p>You are correct!</p>';
      correct++;
    } else {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = '<p>You are incorrect. Please try again.</p>';
    }
  } else if (question == 'practice_08') {
    if (answer == 'Ma') {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = '<p>You are correct!</p>';
      correct++;
    } else {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = '<p>You are incorrect. Please try again.</p>';
    }
  } else if (question == 'practice_11') {
    if (answer == 'Ki') {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = 'You are correct! Pay attention to values that may appear in rows A and J that have no cell divisions.';
      correct = 2;
    } else {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = 'You are incorrect. Please try again. (Stuck? View the answer <span onclick="showAnswer(11)" style="color: red;">here</span>)';
    }
  } else if (question == 'practice_12') {
    if (answer == 'Pt2') {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = 'You are correct! Good job not forgetting the hyphen. Remember, enter everything EXACTLY as it appears in the box, including dashes and spaces.';
      correct = 3;
    } else {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = 'You are incorrect. Please try again. Remember, enter everything EXACTLY as it appears in the box, including dashes and spaces. (Stuck? View the answer <span onclick="showAnswer(12)" style="color: red;">here</span>)';
    }
  } else if (question == 'practice_14') {
    if (answer == 'Mum- Khi-') {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = 'You are correct! Good job not forgetting the hyphens. Remember, enter everything EXACTLY as it appears in the box, including dashes and spaces.';
      correct = 5;
    } else {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = 'You are incorrect. Please try again. Remember, enter everything EXACTLY as it appears in the box, including dashes and spaces. (Stuck? View the answer <span onclick="showAnswer(14)" style="color: red;">here</span>)';
    }
  }  else if (question == 'practice_13') {
    if (answer == 'Cc Cp') {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = 'You are correct! Remember, when there are multiple values in a box, separate them by a space.';
      correct = 4;
    } else {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = 'You are incorrect. Remember, when there are multiple values in a box, separate them by a space. (Stuck? View the answer <span onclick="showAnswer(13)" style="color: red;">here</span>)';
    }
  }  else {
    if (answer == '') {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = '<p>You are correct!</p>';
    } else {
      result = 'result_' + num;
      document.getElementById(result).innerHTML = '<p>You are incorrect. Please try again.</p>';
    }
  }
  proceed(num);
}

function checkAnswers(panel) {
  if (panel == 1) {
    for (var i = 1; i < 11; i++) {
      var num;
      if (i < 10) {
        num = '0' + i;
      } else {
        num = i.toString();
      }
      checkVal(num);
    }
  } else if (panel == 2) {
    $("#answer_11").hide();
    checkVal("11");
  } else if (panel == 3) {
    $("#answer_12").hide();
    checkVal("12");
  } else if (panel == 4) {
    $("#answer_13").hide();
    checkVal("13");
  } else if (panel == 5) {
    $("#answer_14").hide();
    checkVal("14");
  }
}

function proceed(num){
  if (correct == 2) {
    if (num > 10) {
      $("#continue2").show();
      document.getElementById("check_02").className = "btn disabled";
      correct = 0;
    } else {
      $("#continue1").show();
      document.getElementById("check_01").className = "btn disabled";
      correct = 0;
    }
  } else if (correct == 3) {
    $("#continue3").show();
    document.getElementById("check_03").className = "btn disabled";
    correct = 0
  } else if (correct == 4) {
    $("#continue4").show();
    document.getElementById("check_04").className = "btn disabled";
    correct = 0
  } else if (correct == 5) {
    $("#continueTask").show();
    document.getElementById("check_05").className = "btn disabled";
  }
}

function nextPanel(num) {
  if (num == 2) {
    $("#panel_1").hide();
    $("#panel_2").show();
  } else if (num == 3) {
    $("#panel_2").hide();
    $("#panel_3").show();
  } else if (num == 4) {
    $("#panel_3").hide();
    $("#panel_4").show();
  } else if (num ==5) {
    $("#panel_4").hide();
    $("#panel_5").show();
  }
}

function showAnswer(num) {
  if (num == 11) {
    $("#answer_11").show();
  } else if (num == 12) {
    $("#answer_12").show();
  } else if (num == 13) {
    $("#answer_13").show();
  } else if (num == 14) {
    $("#answer_14").show();
  }
}
</script>

<div class="row" style="margin-bottom: 50px;">
  <div class="col-md-8 col-md-offset-2">
    <hr>
    <h4 class="text-center">Practice Task</h4>
    <hr>
      <h5 class="text-danger">
        The following questions are provided to allow you to familiarize yourself with our actual task. You can attempt these questions as many times as you like. Please be aware that you will not know if an answer is correct or incorrect in the actual task.
      </h5>
      <h5>
        The image below is a grid containing English alpha-characters that represents a portion of the grid you will see in the real task.<br><br>
        The COLUMNS of the grid have been labeled with NUMBERS from 1 to 10, and the ROWS of the grid have been labeled with LETTERS from A to J. The grid of the actual task will have COLUMNS labeled 1 to 40. <strong>Please note that there is a column that is not labeled to the leftmost of the image, detached from the rest of the grid. This will be known as COLUMN 0.</strong><br><br>
        Your task is to locate the cells of the grid where a set of characters are present, and to provide a transcription of those characters. <br><br>
        The panel to the right of the image contains boxes for you to type in your transcription for each set of characters.<br><br>
        Enter the characters you see EXACTLY as they appear in the image. This includes spaces and hyphens. Be careful to differentiate between whether the characters you are transcribing are upper-case or lower-case.<br><br>
        If more than one value is present in a cell, enter each value separated by a space.
      </h5>
      <h5>
        <br>
        If you have any concerns or questions about the task, please contact kjameson@uci.edu.
      </h5>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-4" style="position:relative;">
      <img id="foci_img" class="img-responsive" src="{% static 'practice.png' %}" data-zoom-image="{% static 'practice.png' %}" style="height: 600px;"/>
    </div>
    <div class="col-md-3" style="position:relative; top: 50px;">
      <div id="zoom-container" style="border: 2px solid black; height: 400px; width: 250px;"><p class="text-center">ZOOMED IN IMAGE</p></div>
    </div>
    <div id="panel_1" class="col-md-5 well">
      <table class="table table-striped table-bordered">
        <h4 class="text-center">COLUMN 0</h4>
        <p>Fill out the values for column 0. Column 0 is detached from the rest of the grid and is not labeled. Not every cell will have a value. Once you answer every question correctly, a button to continue will appear.</p>
        <thead>
          <td>ROW</td>
          <td>VALUE</td>
          <td>RESULT</td>
        </thead>
        <tr>
          <td>A</td>
          <td><input id="practice_01" type="text"/></td>
          <td id="result_01"></td>
        </tr>
        <tr>
          <td>B</td>
          <td><input id="practice_02" type="text"/></td>
          <td id="result_02"></td>
        </tr>
        <tr>
          <td>C</td>
          <td><input id="practice_03" type="text"/></td>
          <td id="result_03"></td>
        </tr>
        <tr>
          <td>D</td>
          <td><input id="practice_04" type="text"/></td>
          <td id="result_04"></td>
        </tr>
        <tr>
          <td>E</td>
          <td><input id="practice_05" type="text"/></td>
          <td id="result_05"></td>
        </tr>
        <tr>
          <td>F</td>
          <td><input id="practice_06" type="text"/></td>
          <td id="result_06"></td>
        </tr>
        <tr>
          <td>G</td>
          <td><input id="practice_07" type="text"/></td>
          <td id="result_07"></td>
        </tr>
        <tr>
          <td>H</td>
          <td><input id="practice_08" type="text"/></td>
          <td id="result_08"></td>
        </tr>
        <tr>
          <td>I</td>
          <td><input id="practice_09" type="text"/></td>
          <td id="result_09"></td>
        </tr>
        <tr>
          <td>J</td>
          <td><input id="practice_10" type="text"/></td>
          <td id="result_10"></td>
        </tr>
      </table>
      <br>
      <div class="text-center" style="padding-bottom: 20px;">
        <button id="check_01" class="btn btn-primary" type="submit" value="submit" onclick="checkAnswers(1);">Check Answers</button>
      </div>

      <div id="continue1" class="text-center" style="display: none;">
        <button class="btn btn-primary" type="submit" value="submit" onclick="nextPanel(2);">Continue</button>
      </div>
    </div>

    <div id="panel_2" class="col-md-5 well" style="display: none;">
      <h4>Enter the value of box A7 below</h4>
      <input id="practice_11" type="text"/>
      <p id="result_11"></p>
      <p id="answer_11" style="display: none;">The answer is Ki.</p>

      <br>
      <div class="text-center" style="padding-bottom: 20px;">
        <button id="check_02" class="btn btn-primary" type="submit" value="submit" onclick="checkAnswers(2);">Check Answers</button>
      </div>
      <br>
      <div id="continue2" class="text-center" style="display: none;">
        <button class="btn btn-primary" type="submit" value="submit" onclick="nextPanel(3);">Continue</button>
      </div>
    </div>

    <div id="panel_3" class="col-md-5 well" style="display: none;">
      <h4>Enter the value of box H3 below</h4>
      <input id="practice_12" type="text"/>
      <p id="result_12"></p>
      <p id="answer_12" style="display: none;">The answer is Pt2.</p>

      <br>
      <div class="text-center" style="padding-bottom: 20px;">
        <button id="check_03" class="btn btn-primary" type="submit" value="submit" onclick="checkAnswers(3);">Check Answers</button>
      </div>
      <br>
      <div id="continue3" class="text-center" style="display: none;">
        <button class="btn btn-primary" type="submit" value="submit" onclick="nextPanel(4);">Continue</button>
      </div>
    </div>

    <div id="panel_4" class="col-md-5 well" style="display: none;">
      <h4>Enter the value of box E7 below</h4>
      <input id="practice_13" type="text"/>
      <p id="result_13"></p>
      <p id="answer_13" style="display: none;">The answer is Cc Cp.</p>

      <br>
      <div class="text-center" style="padding-bottom: 20px;">
        <button id="check_04" class="btn btn-primary" type="submit" value="submit" onclick="checkAnswers(4);">Check Answers</button>
      </div>
      <br>
      <div id="continue4" class="text-center" style="display: none;">
        <button class="btn btn-primary" type="submit" value="submit" onclick="nextPanel(5);">Continue</button>
      </div>
    </div>

    <div id="panel_5" class="col-md-5 well" style="display: none;">
      <h4>Enter the value of box B9 below</h4>
      <input id="practice_14" type="text"/>
      <p id="result_14"></p>
      <p id="answer_14" style="display: none;">The answer is Mum- Khi-.</p>

      <br>
      <div class="text-center" style="padding-bottom: 20px;">
        <button id="check_05" class="btn btn-primary" type="submit" value="submit" onclick="checkAnswers(5);">Check Answers</button>
      </div>
      <div id="continueTask" class="text-center" style="display: none;">
        <button class="btn btn-primary btn-lg" type="submit" value="submit" onclick="redirectTask()">Go To Task</button>
      </div>
    </div>

  </div>
</div>



<script> // IMAGE ZOOM SCRIPT
$("#foci_img").elevateZoom({zoomWindowPosition: "zoom-container",
                              zoomWindowWidth:250,
                              zoomWindowHeight:400 });
</script>

{% endblock %}
