{% extends 'base.html' %}

{% block title %}{{ task_name }}{% endblock %}

{% block body_block %}

    {% if task %}
        <!-- INFORMATIONAL HEADER -->
        <div id="info" class="row bg-info">
            <div class="col-md-12">
                <h2>Task #{{ task.task_id }}: {{ task_name }}</h2>
                <h4>Instructions <a href="#" onclick="toggle('instructions');"><small>show</small></a></h4>
                <div id="instructions" style="display:none;">
                    {{ task.instructions|safe }}
                </div>
                <h4>Project Information <a href="#" onclick="toggle('information');"><small>show</small></a></h4>
                <div id="information" style="display:none;">
                    <p>This is information about the project that the worker can view if they are interested.</p>
                </div>
                <p class="text-right" style="margin-right: 20px;">Have a question or feedback? Please contact <a href="mailto:changsm1@uci.edu">changsm1@uci.edu</a>.</p>
            </div>
        </div>
        <!--END INFORMATIONAL HEADER-->
    {% endif %}

    <!-- BEGIN TASK -->
    {% if task.task_id = 1 %}
        {% include 'tasks/task-1.html' %}
    {% elif task.task_id = 2 %}
        {% include 'tasks/task-2.html' %}
    {% elif task.task_id = 3 %}
        {% include 'tasks/task-3.html' %}
    {% elif task.task_id = 4 %}
        {% include 'tasks/task-4.html' %}
    {% elif task.task_id = 5 %}
        {% include 'tasks/task-5.html' %}
    {% elif task.task_id = 6 %}
        {% include 'tasks/task-6.html' %}
    {% elif task.task_id = 7 %}
        {% include 'tasks/task-7.html' %}
    {% elif task.task_id = 8 %}
        {% include 'tasks/task-8.html' %}
    {% endif %}
    <!-- END TASK -->

{% endblock %}
