{% extends 'manage-base.html' %}

{% block title %}Home{% endblock %}
{% block nav_home %}active{% endblock %}

{% block main %}
<div class="col-md-6 col-offset-3">
  <h1>Responses</h1>
    {% if response_lists %}
        <br>
        <table class="table">
          {% for r in response_lists %}
          <tr>
            <td>
              <a href="/uploads/responses/{{r}}.csv">Download <strong>{{r}}</strong> responses</a>
            </td>
          </tr>
          {% endfor %}
        </table>
    {% else %}
        <strong>There are currently no responses.</strong>
    {% endif %}
    </table>
</div>
{% endblock %}
