{% extends 'manage-base.html' %}

{% block title %}Home{% endblock %}
{% block nav_home %}active{% endblock %}

{% block main %}
<div class="col-md-6 col-offset-3">
  <h3>Tasks</h3>
    <table class="table table-striped">
      {% if tasks %}
      <tr>
        <th>
          Task name
        </th>
        <th>
          Add to batch
        </th>
      </tr>
        <tr>
          {% for task in tasks %}
          <td>
            {{ task.task_name }}
          </td>
          <td>

          </td>
          {% endfor %}
        </tr>
    {% else %}
        <strong>There are no tasks present.</strong>
    {% endif %}
    </table>
</div>
{% endblock %}
