{% extends 'base.html' %}

{% block title %}Task Complete{% endblock %}

{% block main %}
<div class="jumbotron text-center" style="padding: 10px; width: 50%; margin: 0 auto;">
  <h3>You have completed this task!</h3>
  <h4>Thank you for participating in this study.</h4>
  <p>
    If you are interested in learning more about our research, please click the button below.
  </p>
  <p><a class="btn btn-primary btn-lg" href="http://colcat.calit2.uci.edu/" target="_blank">Learn more</a></p>

  <h4>Enter the following code into the box on Mechanical Turk and submit your HIT.<br>Your submission will be reviewed within a week (7 days).</h4>
  <h2>CODE: <span class="text-success">{{ key }}</span></h2>

  <br>

  <p>
    If you have any questions, concerns, or comments, please <a href="mailto:kjameson@uci.edu">send us an e-mail</a>.
  </p>
  </div>

</div>
{% endblock %}
