<!-- Crowdsource Verification Task (2 choice only) -->

{% load staticfiles %}

<form action="/crowdsourcing/task/crowdsource-verification-1/" method="post">
    {% csrf_token %}

    <!-- TASK BODY -->
    <div class="row">
        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-1.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Hn</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_1 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_1 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-2.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Pw</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;" style="height: 125px;">
            <label for='{{ form.ocr_2 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_2 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-3.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Ph</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;" style="height: 125px;">
            <label for='{{ form.ocr_3 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_3 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-4.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Cg</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;" style="height: 125px;">
            <label for='{{ form.ocr_4 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_4 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-5.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Ko</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;" style="height: 125px;">
            <label for='{{ form.ocr_5 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_5 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-6.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Kl</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;" style="height: 125px;">
            <label for='{{ form.ocr_6 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_6 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-7.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: W</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;" style="height: 125px;">
            <label for='{{ form.ocr_7 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_7 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-8.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Ca</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;" style="height: 125px;">
            <label for='{{ form.ocr_8 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_8 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-9.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Pa</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;" style="height: 125px;">
            <label for='{{ form.ocr_9 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_9 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-10.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Po</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_10 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_10 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-11.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Ng</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_11 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_11 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-12.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Em</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_12 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_12 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-13.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Ch</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_13 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_13 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-14.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Ko</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_14 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_14 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-15.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Cu</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_15 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_15 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-16.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Kaun</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_16 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_16 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-17.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: S</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_17 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_17 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/crowdsource_verification/ocr-18.png' %}"/>
            <p style="font-size: 25px; color: red;">Value: Cw</p>
        </div>
        <div class="col-md-2 well" style="height: 125px;">
            <label for='{{ form.ocr_18 }}'>Are these the same letters?</label><br>
            Check if Yes (True):
            {{ form.ocr_18 }}
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success" style="font-size: 20px;">Submit</button>
    </div>
    <!-- TASK END -->
</form>
