<!-- FOCI WITH KEY-->

{% load staticfiles %}

<div class="row">
    <div class="col-md-1 bg-warning">
        <h4>Values</h4>
        <table class="table table-bordered">
          <tr>
            <td>Ca</td>
          </tr>
          <tr>
            <td>Cg</td>
          </tr>
          <tr>
            <td>Cl</td>
          </tr>
          <tr>
            <td>Hl</td>
          </tr>
          <tr>
            <td>Hn</td>
          </tr>
          <tr>
            <td>Hw</td>
          </tr>
          <tr>
            <td>Kw</td>
          </tr>
          <tr>
            <td>Nm</td>
          </tr>
          <tr>
            <td>Pa</td>
          </tr>
          <tr>
            <td>Ph</td>
          </tr>
          <tr>
            <td>Po</td>
          </tr>
          <tr>
            <td>Pw</td>
          </tr>
          <tr>
            <td>Th</td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
    </div>
    <div class="col-md-6">
        <img src="{% static 'data/foci/korean-1_25-40.png' %}" style="height: 600px; width: 550px;"/>
    </div>

    <form action="/crowdsourcing/task/foci-2/" method="post">
        {% csrf_token %}
        <div class="col-md-5 well" style="height: 600px; overflow-y: scroll;">
            <div class="inputfields">
                {{ form.as_p }}
            </div>
        </div>

        <div class="row">
            <div class="text-center">
                <button type="submit" class="btn btn-success" style="font-size: 20px; margin-top: 20px;">Submit</button>
            </div>
        </div>
    </form>

</div>
