<!-- FOCI WITH KEY-->

{% load staticfiles %}

<style>
input {
    width: 90px;
}
</style>

<div class="row">
    <div class="col-md-6">
        <img src="{% static 'data/foci/korean-1_25-40.png' %}" style="height: 600px; width: 550px;"/>
    </div>

    <form action="/crowdsourcing/task/foci-2/" method="post">
        {% csrf_token %}
        <div class="col-md-6 well" style="height: 600px; overflow-y: scroll;">
            <div class="inputfields">
                <table class="table table-bordered">
                    <tr>
                        <td></td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>31</td>
                        <td>32</td>
                        <td>33</td>
                        <td>34</td>
                        <td>35</td>
                        <td>36</td>
                        <td>37</td>
                        <td>38</td>
                        <td>39</td>
                        <td>40</td>
                    </tr>
                    <tr>
                    	<td>B</td>
                    	<td>{{ form.value_b25 }}</td>
                    	<td>{{ form.value_b26 }}</td>
                    	<td>{{ form.value_b27 }}</td>
                    	<td>{{ form.value_b28 }}</td>
                    	<td>{{ form.value_b29 }}</td>
                    	<td>{{ form.value_b30 }}</td>
                    	<td>{{ form.value_b31 }}</td>
                    	<td>{{ form.value_b32 }}</td>
                    	<td>{{ form.value_b33 }}</td>
                    	<td>{{ form.value_b34 }}</td>
                    	<td>{{ form.value_b35 }}</td>
                    	<td>{{ form.value_b36 }}</td>
                    	<td>{{ form.value_b37 }}</td>
                    	<td>{{ form.value_b38 }}</td>
                    	<td>{{ form.value_b39 }}</td>
                    	<td>{{ form.value_b40 }}</td>
                    </tr>
                    <tr>
                    	<td>C</td>
                    	<td>{{ form.value_c25 }}</td>
                    	<td>{{ form.value_c26 }}</td>
                    	<td>{{ form.value_c27 }}</td>
                    	<td>{{ form.value_c28 }}</td>
                    	<td>{{ form.value_c29 }}</td>
                    	<td>{{ form.value_c30 }}</td>
                    	<td>{{ form.value_c31 }}</td>
                    	<td>{{ form.value_c32 }}</td>
                    	<td>{{ form.value_c33 }}</td>
                    	<td>{{ form.value_c34 }}</td>
                    	<td>{{ form.value_c35 }}</td>
                    	<td>{{ form.value_c36 }}</td>
                    	<td>{{ form.value_c37 }}</td>
                    	<td>{{ form.value_c38 }}</td>
                    	<td>{{ form.value_c39 }}</td>
                    	<td>{{ form.value_c40 }}</td>
                    </tr>
                    <tr>
                    	<td>D</td>
                    	<td>{{ form.value_d25 }}</td>
                    	<td>{{ form.value_d26 }}</td>
                    	<td>{{ form.value_d27 }}</td>
                    	<td>{{ form.value_d28 }}</td>
                    	<td>{{ form.value_d29 }}</td>
                    	<td>{{ form.value_d30 }}</td>
                    	<td>{{ form.value_d31 }}</td>
                    	<td>{{ form.value_d32 }}</td>
                    	<td>{{ form.value_d33 }}</td>
                    	<td>{{ form.value_d34 }}</td>
                    	<td>{{ form.value_d35 }}</td>
                    	<td>{{ form.value_d36 }}</td>
                    	<td>{{ form.value_d37 }}</td>
                    	<td>{{ form.value_d38 }}</td>
                    	<td>{{ form.value_d39 }}</td>
                    	<td>{{ form.value_d40 }}</td>
                    </tr>
                    <tr>
                    	<td>E</td>
                    	<td>{{ form.value_e25 }}</td>
                    	<td>{{ form.value_e26 }}</td>
                    	<td>{{ form.value_e27 }}</td>
                    	<td>{{ form.value_e28 }}</td>
                    	<td>{{ form.value_e29 }}</td>
                    	<td>{{ form.value_e30 }}</td>
                    	<td>{{ form.value_e31 }}</td>
                    	<td>{{ form.value_e32 }}</td>
                    	<td>{{ form.value_e33 }}</td>
                    	<td>{{ form.value_e34 }}</td>
                    	<td>{{ form.value_e35 }}</td>
                    	<td>{{ form.value_e36 }}</td>
                    	<td>{{ form.value_e37 }}</td>
                    	<td>{{ form.value_e38 }}</td>
                    	<td>{{ form.value_e39 }}</td>
                    	<td>{{ form.value_e40 }}</td>
                    </tr>
                    <tr>
                    	<td>F</td>
                    	<td>{{ form.value_f25 }}</td>
                    	<td>{{ form.value_f26 }}</td>
                    	<td>{{ form.value_f27 }}</td>
                    	<td>{{ form.value_f28 }}</td>
                    	<td>{{ form.value_f29 }}</td>
                    	<td>{{ form.value_f30 }}</td>
                    	<td>{{ form.value_f31 }}</td>
                    	<td>{{ form.value_f32 }}</td>
                    	<td>{{ form.value_f33 }}</td>
                    	<td>{{ form.value_f34 }}</td>
                    	<td>{{ form.value_f35 }}</td>
                    	<td>{{ form.value_f36 }}</td>
                    	<td>{{ form.value_f37 }}</td>
                    	<td>{{ form.value_f38 }}</td>
                    	<td>{{ form.value_f39 }}</td>
                    	<td>{{ form.value_f40 }}</td>
                    </tr>
                    <tr>
                    	<td>G</td>
                    	<td>{{ form.value_g25 }}</td>
                    	<td>{{ form.value_g26 }}</td>
                    	<td>{{ form.value_g27 }}</td>
                    	<td>{{ form.value_g28 }}</td>
                    	<td>{{ form.value_g29 }}</td>
                    	<td>{{ form.value_g30 }}</td>
                    	<td>{{ form.value_g31 }}</td>
                    	<td>{{ form.value_g32 }}</td>
                    	<td>{{ form.value_g33 }}</td>
                    	<td>{{ form.value_g34 }}</td>
                    	<td>{{ form.value_g35 }}</td>
                    	<td>{{ form.value_g36 }}</td>
                    	<td>{{ form.value_g37 }}</td>
                    	<td>{{ form.value_g38 }}</td>
                    	<td>{{ form.value_g39 }}</td>
                    	<td>{{ form.value_g40 }}</td>
                    </tr>
                    <tr>
                    	<td>H</td>
                    	<td>{{ form.value_h25 }}</td>
                    	<td>{{ form.value_h26 }}</td>
                    	<td>{{ form.value_h27 }}</td>
                    	<td>{{ form.value_h28 }}</td>
                    	<td>{{ form.value_h29 }}</td>
                    	<td>{{ form.value_h30 }}</td>
                    	<td>{{ form.value_h31 }}</td>
                    	<td>{{ form.value_h32 }}</td>
                    	<td>{{ form.value_h33 }}</td>
                    	<td>{{ form.value_h34 }}</td>
                    	<td>{{ form.value_h35 }}</td>
                    	<td>{{ form.value_h36 }}</td>
                    	<td>{{ form.value_h37 }}</td>
                    	<td>{{ form.value_h38 }}</td>
                    	<td>{{ form.value_h39 }}</td>
                    	<td>{{ form.value_h40 }}</td>
                    </tr>
                    <tr>
                    	<td>I</td>
                    	<td>{{ form.value_i25 }}</td>
                    	<td>{{ form.value_i26 }}</td>
                    	<td>{{ form.value_i27 }}</td>
                    	<td>{{ form.value_i28 }}</td>
                    	<td>{{ form.value_i29 }}</td>
                    	<td>{{ form.value_i30 }}</td>
                    	<td>{{ form.value_i31 }}</td>
                    	<td>{{ form.value_i32 }}</td>
                    	<td>{{ form.value_i33 }}</td>
                    	<td>{{ form.value_i34 }}</td>
                    	<td>{{ form.value_i35 }}</td>
                    	<td>{{ form.value_i36 }}</td>
                    	<td>{{ form.value_i37 }}</td>
                    	<td>{{ form.value_i38 }}</td>
                    	<td>{{ form.value_i39 }}</td>
                    	<td>{{ form.value_i40 }}</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="text-center">
                <button type="submit" class="btn btn-success" style="font-size: 20px;">Submit</button>
            </div>
        </div>
    </form>
