<!-- NAMING RANGES WITH KEY-->

{% load staticfiles %}

<div class="row">
    <div class="col-md-1 bg-warning">
        <h4>Values</h4>
        <table class="table table-bordered">
          <tr>
            <td>Ca</td>
          </tr>
          <tr>
            <td>Hl</td>
          </tr>
          <tr>
            <td>Hn</td>
          </tr>
          <tr>
            <td>Hw</td>
          </tr>
          <tr>
            <td>Ph</td>
          </tr>
          <tr>
            <td>Po</td>
          </tr>
          <tr>
            <td>Pw</td>
          </tr>
          <tr>
            <td>None of the above</td>
          </tr>
        </table>
    </div>
    <div class="col-md-6">
        <img src="{% static 'data/naming/korean-1_25-40.png' %}" style="height: 600px; width: 550px;"/>
    </div>

    <form action="/crowdsourcing/task/naming-ranges-2/" method="post">
        {% csrf_token %}
        <div class="col-md-5 well" style="height: 600px; overflow-y: scroll;">
            <div class="inputfields">
                <table class="table table-bordered">
                    <tr>
                        <th>Cell</th>
                        <th>Value</th>
                        <th>Confidence</th>
                    </tr>
                    <tr>
                        <td>B25</td>
                        <td>{{ form.cell_b25 }}</td>
                        <td>{{ form.confidence_b25 }}</td>
                    </tr>
                    <tr>
                        <td>B26</td>
                        <td>{{ form.cell_b26 }}</td>
                        <td>{{ form.confidence_b26 }}</td>
                    </tr>
                    <tr>
                        <td>B27</td>
                        <td>{{ form.cell_b27 }}</td>
                        <td>{{ form.confidence_b27 }}</td>
                    </tr>
                    <tr>
                        <td>B28</td>
                        <td>{{ form.cell_b28 }}</td>
                        <td>{{ form.confidence_b28 }}</td>
                    </tr>
                    <tr>
                        <td>B29</td>
                        <td>{{ form.cell_b29 }}</td>
                        <td>{{ form.confidence_b29 }}</td>
                    </tr>
                    <tr>
                        <td>B30</td>
                        <td>{{ form.cell_b30 }}</td>
                        <td>{{ form.confidence_b30 }}</td>
                    </tr>
                    <tr>
                        <td>B31</td>
                        <td>{{ form.cell_b31 }}</td>
                        <td>{{ form.confidence_b31 }}</td>
                    </tr>
                    <tr>
                        <td>B32</td>
                        <td>{{ form.cell_b32 }}</td>
                        <td>{{ form.confidence_b32 }}</td>
                    </tr>
                    <tr>
                        <td>B33</td>
                        <td>{{ form.cell_b33 }}</td>
                        <td>{{ form.confidence_b33 }}</td>
                    </tr>
                    <tr>
                        <td>B34</td>
                        <td>{{ form.cell_b34 }}</td>
                        <td>{{ form.confidence_b34 }}</td>
                    </tr>
                    <tr>
                        <td>B35</td>
                        <td>{{ form.cell_b35 }}</td>
                        <td>{{ form.confidence_b35 }}</td>
                    </tr>
                    <tr>
                        <td>B36</td>
                        <td>{{ form.cell_b36 }}</td>
                        <td>{{ form.confidence_b36 }}</td>
                    </tr>
                    <tr>
                        <td>B37</td>
                        <td>{{ form.cell_b37 }}</td>
                        <td>{{ form.confidence_b37 }}</td>
                    </tr>
                    <tr>
                        <td>B38</td>
                        <td>{{ form.cell_b38 }}</td>
                        <td>{{ form.confidence_b38 }}</td>
                    </tr>
                    <tr>
                        <td>B39</td>
                        <td>{{ form.cell_b39 }}</td>
                        <td>{{ form.confidence_b39 }}</td>
                    </tr>
                    <tr>
                        <td>B40</td>
                        <td>{{ form.cell_b40 }}</td>
                        <td>{{ form.confidence_b40 }}</td>
                    </tr>
                    <tr>
                        <td>C25</td>
                        <td>{{ form.cell_c25 }}</td>
                        <td>{{ form.confidence_c25 }}</td>
                    </tr>
                    <tr>
                        <td>C26</td>
                        <td>{{ form.cell_c26 }}</td>
                        <td>{{ form.confidence_c26 }}</td>
                    </tr>
                    <tr>
                        <td>C27</td>
                        <td>{{ form.cell_c27 }}</td>
                        <td>{{ form.confidence_c27 }}</td>
                    </tr>
                    <tr>
                        <td>C28</td>
                        <td>{{ form.cell_c28 }}</td>
                        <td>{{ form.confidence_c28 }}</td>
                    </tr>
                    <tr>
                        <td>C29</td>
                        <td>{{ form.cell_c29 }}</td>
                        <td>{{ form.confidence_c29 }}</td>
                    </tr>
                    <tr>
                        <td>C30</td>
                        <td>{{ form.cell_c30 }}</td>
                        <td>{{ form.confidence_c30 }}</td>
                    </tr>
                    <tr>
                        <td>C31</td>
                        <td>{{ form.cell_c31 }}</td>
                        <td>{{ form.confidence_c31 }}</td>
                    </tr>
                    <tr>
                        <td>C32</td>
                        <td>{{ form.cell_c32 }}</td>
                        <td>{{ form.confidence_c32 }}</td>
                    </tr>
                    <tr>
                        <td>C33</td>
                        <td>{{ form.cell_c33 }}</td>
                        <td>{{ form.confidence_c33 }}</td>
                    </tr>
                    <tr>
                        <td>C34</td>
                        <td>{{ form.cell_c34 }}</td>
                        <td>{{ form.confidence_c34 }}</td>
                    </tr>
                    <tr>
                        <td>C35</td>
                        <td>{{ form.cell_c35 }}</td>
                        <td>{{ form.confidence_c35 }}</td>
                    </tr>
                    <tr>
                        <td>C36</td>
                        <td>{{ form.cell_c36 }}</td>
                        <td>{{ form.confidence_c36 }}</td>
                    </tr>
                    <tr>
                        <td>C37</td>
                        <td>{{ form.cell_c37 }}</td>
                        <td>{{ form.confidence_c37 }}</td>
                    </tr>
                    <tr>
                        <td>C38</td>
                        <td>{{ form.cell_c38 }}</td>
                        <td>{{ form.confidence_c38 }}</td>
                    </tr>
                    <tr>
                        <td>C39</td>
                        <td>{{ form.cell_c39 }}</td>
                        <td>{{ form.confidence_c39 }}</td>
                    </tr>
                    <tr>
                        <td>C40</td>
                        <td>{{ form.cell_c40 }}</td>
                        <td>{{ form.confidence_c40 }}</td>
                    </tr>
                    <tr>
                        <td>D25</td>
                        <td>{{ form.cell_d25 }}</td>
                        <td>{{ form.confidence_d25 }}</td>
                    </tr>
                    <tr>
                        <td>D26</td>
                        <td>{{ form.cell_d26 }}</td>
                        <td>{{ form.confidence_d26 }}</td>
                    </tr>
                    <tr>
                        <td>D27</td>
                        <td>{{ form.cell_d27 }}</td>
                        <td>{{ form.confidence_d27 }}</td>
                    </tr>
                    <tr>
                        <td>D28</td>
                        <td>{{ form.cell_d28 }}</td>
                        <td>{{ form.confidence_d28 }}</td>
                    </tr>
                    <tr>
                        <td>D29</td>
                        <td>{{ form.cell_d29 }}</td>
                        <td>{{ form.confidence_d29 }}</td>
                    </tr>
                    <tr>
                        <td>D30</td>
                        <td>{{ form.cell_d30 }}</td>
                        <td>{{ form.confidence_d30 }}</td>
                    </tr>
                    <tr>
                        <td>D31</td>
                        <td>{{ form.cell_d31 }}</td>
                        <td>{{ form.confidence_d31 }}</td>
                    </tr>
                    <tr>
                        <td>D32</td>
                        <td>{{ form.cell_d32 }}</td>
                        <td>{{ form.confidence_d32 }}</td>
                    </tr>
                    <tr>
                        <td>D33</td>
                        <td>{{ form.cell_d33 }}</td>
                        <td>{{ form.confidence_d33 }}</td>
                    </tr>
                    <tr>
                        <td>D34</td>
                        <td>{{ form.cell_d34 }}</td>
                        <td>{{ form.confidence_d34 }}</td>
                    </tr>
                    <tr>
                        <td>D35</td>
                        <td>{{ form.cell_d35 }}</td>
                        <td>{{ form.confidence_d35 }}</td>
                    </tr>
                    <tr>
                        <td>D36</td>
                        <td>{{ form.cell_d36 }}</td>
                        <td>{{ form.confidence_d36 }}</td>
                    </tr>
                    <tr>
                        <td>D37</td>
                        <td>{{ form.cell_d37 }}</td>
                        <td>{{ form.confidence_d37 }}</td>
                    </tr>
                    <tr>
                        <td>D38</td>
                        <td>{{ form.cell_d38 }}</td>
                        <td>{{ form.confidence_d38 }}</td>
                    </tr>
                    <tr>
                        <td>D39</td>
                        <td>{{ form.cell_d39 }}</td>
                        <td>{{ form.confidence_d39 }}</td>
                    </tr>
                    <tr>
                        <td>D40</td>
                        <td>{{ form.cell_d40 }}</td>
                        <td>{{ form.confidence_d40 }}</td>
                    </tr>
                    <tr>
                        <td>E25</td>
                        <td>{{ form.cell_e25 }}</td>
                        <td>{{ form.confidence_e25 }}</td>
                    </tr>
                    <tr>
                        <td>E26</td>
                        <td>{{ form.cell_e26 }}</td>
                        <td>{{ form.confidence_e26 }}</td>
                    </tr>
                    <tr>
                        <td>E27</td>
                        <td>{{ form.cell_e27 }}</td>
                        <td>{{ form.confidence_e27 }}</td>
                    </tr>
                    <tr>
                        <td>E28</td>
                        <td>{{ form.cell_e28 }}</td>
                        <td>{{ form.confidence_e28 }}</td>
                    </tr>
                    <tr>
                        <td>E29</td>
                        <td>{{ form.cell_e29 }}</td>
                        <td>{{ form.confidence_e29 }}</td>
                    </tr>
                    <tr>
                        <td>E30</td>
                        <td>{{ form.cell_e30 }}</td>
                        <td>{{ form.confidence_e30 }}</td>
                    </tr>
                    <tr>
                        <td>E31</td>
                        <td>{{ form.cell_e31 }}</td>
                        <td>{{ form.confidence_e31 }}</td>
                    </tr>
                    <tr>
                        <td>E32</td>
                        <td>{{ form.cell_e32 }}</td>
                        <td>{{ form.confidence_e32 }}</td>
                    </tr>
                    <tr>
                        <td>E33</td>
                        <td>{{ form.cell_e33 }}</td>
                        <td>{{ form.confidence_e33 }}</td>
                    </tr>
                    <tr>
                        <td>E34</td>
                        <td>{{ form.cell_e34 }}</td>
                        <td>{{ form.confidence_e34 }}</td>
                    </tr>
                    <tr>
                        <td>E35</td>
                        <td>{{ form.cell_e35 }}</td>
                        <td>{{ form.confidence_e35 }}</td>
                    </tr>
                    <tr>
                        <td>E36</td>
                        <td>{{ form.cell_e36 }}</td>
                        <td>{{ form.confidence_e36 }}</td>
                    </tr>
                    <tr>
                        <td>E37</td>
                        <td>{{ form.cell_e37 }}</td>
                        <td>{{ form.confidence_e37 }}</td>
                    </tr>
                    <tr>
                        <td>E38</td>
                        <td>{{ form.cell_e38 }}</td>
                        <td>{{ form.confidence_e38 }}</td>
                    </tr>
                    <tr>
                        <td>E39</td>
                        <td>{{ form.cell_e39 }}</td>
                        <td>{{ form.confidence_e39 }}</td>
                    </tr>
                    <tr>
                        <td>E40</td>
                        <td>{{ form.cell_e40 }}</td>
                        <td>{{ form.confidence_e40 }}</td>
                    </tr>
                    <tr>
                        <td>F25</td>
                        <td>{{ form.cell_f25 }}</td>
                        <td>{{ form.confidence_f25 }}</td>
                    </tr>
                    <tr>
                        <td>F26</td>
                        <td>{{ form.cell_f26 }}</td>
                        <td>{{ form.confidence_f26 }}</td>
                    </tr>
                    <tr>
                        <td>F27</td>
                        <td>{{ form.cell_f27 }}</td>
                        <td>{{ form.confidence_f27 }}</td>
                    </tr>
                    <tr>
                        <td>F28</td>
                        <td>{{ form.cell_f28 }}</td>
                        <td>{{ form.confidence_f28 }}</td>
                    </tr>
                    <tr>
                        <td>F29</td>
                        <td>{{ form.cell_f29 }}</td>
                        <td>{{ form.confidence_f29 }}</td>
                    </tr>
                    <tr>
                        <td>F30</td>
                        <td>{{ form.cell_f30 }}</td>
                        <td>{{ form.confidence_f30 }}</td>
                    </tr>
                    <tr>
                        <td>F31</td>
                        <td>{{ form.cell_f31 }}</td>
                        <td>{{ form.confidence_f31 }}</td>
                    </tr>
                    <tr>
                        <td>F32</td>
                        <td>{{ form.cell_f32 }}</td>
                        <td>{{ form.confidence_f32 }}</td>
                    </tr>
                    <tr>
                        <td>F33</td>
                        <td>{{ form.cell_f33 }}</td>
                        <td>{{ form.confidence_f33 }}</td>
                    </tr>
                    <tr>
                        <td>F34</td>
                        <td>{{ form.cell_f34 }}</td>
                        <td>{{ form.confidence_f34 }}</td>
                    </tr>
                    <tr>
                        <td>F35</td>
                        <td>{{ form.cell_f35 }}</td>
                        <td>{{ form.confidence_f35 }}</td>
                    </tr>
                    <tr>
                        <td>F36</td>
                        <td>{{ form.cell_f36 }}</td>
                        <td>{{ form.confidence_f36 }}</td>
                    </tr>
                    <tr>
                        <td>F37</td>
                        <td>{{ form.cell_f37 }}</td>
                        <td>{{ form.confidence_f37 }}</td>
                    </tr>
                    <tr>
                        <td>F38</td>
                        <td>{{ form.cell_f38 }}</td>
                        <td>{{ form.confidence_f38 }}</td>
                    </tr>
                    <tr>
                        <td>F39</td>
                        <td>{{ form.cell_f39 }}</td>
                        <td>{{ form.confidence_f39 }}</td>
                    </tr>
                    <tr>
                        <td>F40</td>
                        <td>{{ form.cell_f40 }}</td>
                        <td>{{ form.confidence_f40 }}</td>
                    </tr>
                    <tr>
                        <td>G25</td>
                        <td>{{ form.cell_g25 }}</td>
                        <td>{{ form.confidence_g25 }}</td>
                    </tr>
                    <tr>
                        <td>G26</td>
                        <td>{{ form.cell_g26 }}</td>
                        <td>{{ form.confidence_g26 }}</td>
                    </tr>
                    <tr>
                        <td>G27</td>
                        <td>{{ form.cell_g27 }}</td>
                        <td>{{ form.confidence_g27 }}</td>
                    </tr>
                    <tr>
                        <td>G28</td>
                        <td>{{ form.cell_g28 }}</td>
                        <td>{{ form.confidence_g28 }}</td>
                    </tr>
                    <tr>
                        <td>G29</td>
                        <td>{{ form.cell_g29 }}</td>
                        <td>{{ form.confidence_g29 }}</td>
                    </tr>
                    <tr>
                        <td>G30</td>
                        <td>{{ form.cell_g30 }}</td>
                        <td>{{ form.confidence_g30 }}</td>
                    </tr>
                    <tr>
                        <td>G31</td>
                        <td>{{ form.cell_g31 }}</td>
                        <td>{{ form.confidence_g31 }}</td>
                    </tr>
                    <tr>
                        <td>G32</td>
                        <td>{{ form.cell_g32 }}</td>
                        <td>{{ form.confidence_g32 }}</td>
                    </tr>
                    <tr>
                        <td>G33</td>
                        <td>{{ form.cell_g33 }}</td>
                        <td>{{ form.confidence_g33 }}</td>
                    </tr>
                    <tr>
                        <td>G34</td>
                        <td>{{ form.cell_g34 }}</td>
                        <td>{{ form.confidence_g34 }}</td>
                    </tr>
                    <tr>
                        <td>G35</td>
                        <td>{{ form.cell_g35 }}</td>
                        <td>{{ form.confidence_g35 }}</td>
                    </tr>
                    <tr>
                        <td>G36</td>
                        <td>{{ form.cell_g36 }}</td>
                        <td>{{ form.confidence_g36 }}</td>
                    </tr>
                    <tr>
                        <td>G37</td>
                        <td>{{ form.cell_g37 }}</td>
                        <td>{{ form.confidence_g37 }}</td>
                    </tr>
                    <tr>
                        <td>G38</td>
                        <td>{{ form.cell_g38 }}</td>
                        <td>{{ form.confidence_g38 }}</td>
                    </tr>
                    <tr>
                        <td>G39</td>
                        <td>{{ form.cell_g39 }}</td>
                        <td>{{ form.confidence_g39 }}</td>
                    </tr>
                    <tr>
                        <td>G40</td>
                        <td>{{ form.cell_g40 }}</td>
                        <td>{{ form.confidence_g40 }}</td>
                    </tr>
                    <tr>
                        <td>H25</td>
                        <td>{{ form.cell_h25 }}</td>
                        <td>{{ form.confidence_h25 }}</td>
                    </tr>
                    <tr>
                        <td>H26</td>
                        <td>{{ form.cell_h26 }}</td>
                        <td>{{ form.confidence_h26 }}</td>
                    </tr>
                    <tr>
                        <td>H27</td>
                        <td>{{ form.cell_h27 }}</td>
                        <td>{{ form.confidence_h27 }}</td>
                    </tr>
                    <tr>
                        <td>H28</td>
                        <td>{{ form.cell_h28 }}</td>
                        <td>{{ form.confidence_h28 }}</td>
                    </tr>
                    <tr>
                        <td>H29</td>
                        <td>{{ form.cell_h29 }}</td>
                        <td>{{ form.confidence_h29 }}</td>
                    </tr>
                    <tr>
                        <td>H30</td>
                        <td>{{ form.cell_h30 }}</td>
                        <td>{{ form.confidence_h30 }}</td>
                    </tr>
                    <tr>
                        <td>H31</td>
                        <td>{{ form.cell_h31 }}</td>
                        <td>{{ form.confidence_h31 }}</td>
                    </tr>
                    <tr>
                        <td>H32</td>
                        <td>{{ form.cell_h32 }}</td>
                        <td>{{ form.confidence_h32 }}</td>
                    </tr>
                    <tr>
                        <td>H33</td>
                        <td>{{ form.cell_h33 }}</td>
                        <td>{{ form.confidence_h33 }}</td>
                    </tr>
                    <tr>
                        <td>H34</td>
                        <td>{{ form.cell_h34 }}</td>
                        <td>{{ form.confidence_h34 }}</td>
                    </tr>
                    <tr>
                        <td>H35</td>
                        <td>{{ form.cell_h35 }}</td>
                        <td>{{ form.confidence_h35 }}</td>
                    </tr>
                    <tr>
                        <td>H36</td>
                        <td>{{ form.cell_h36 }}</td>
                        <td>{{ form.confidence_h36 }}</td>
                    </tr>
                    <tr>
                        <td>H37</td>
                        <td>{{ form.cell_h37 }}</td>
                        <td>{{ form.confidence_h37 }}</td>
                    </tr>
                    <tr>
                        <td>H38</td>
                        <td>{{ form.cell_h38 }}</td>
                        <td>{{ form.confidence_h38 }}</td>
                    </tr>
                    <tr>
                        <td>H39</td>
                        <td>{{ form.cell_h39 }}</td>
                        <td>{{ form.confidence_h39 }}</td>
                    </tr>
                    <tr>
                        <td>H40</td>
                        <td>{{ form.cell_h40 }}</td>
                        <td>{{ form.confidence_h40 }}</td>
                    </tr>
                    <tr>
                        <td>I25</td>
                        <td>{{ form.cell_i25 }}</td>
                        <td>{{ form.confidence_i25 }}</td>
                    </tr>
                    <tr>
                        <td>I26</td>
                        <td>{{ form.cell_i26 }}</td>
                        <td>{{ form.confidence_i26 }}</td>
                    </tr>
                    <tr>
                        <td>I27</td>
                        <td>{{ form.cell_i27 }}</td>
                        <td>{{ form.confidence_i27 }}</td>
                    </tr>
                    <tr>
                        <td>I28</td>
                        <td>{{ form.cell_i28 }}</td>
                        <td>{{ form.confidence_i28 }}</td>
                    </tr>
                    <tr>
                        <td>I29</td>
                        <td>{{ form.cell_i29 }}</td>
                        <td>{{ form.confidence_i29 }}</td>
                    </tr>
                    <tr>
                        <td>I30</td>
                        <td>{{ form.cell_i30 }}</td>
                        <td>{{ form.confidence_i30 }}</td>
                    </tr>
                    <tr>
                        <td>I31</td>
                        <td>{{ form.cell_i31 }}</td>
                        <td>{{ form.confidence_i31 }}</td>
                    </tr>
                    <tr>
                        <td>I32</td>
                        <td>{{ form.cell_i32 }}</td>
                        <td>{{ form.confidence_i32 }}</td>
                    </tr>
                    <tr>
                        <td>I33</td>
                        <td>{{ form.cell_i33 }}</td>
                        <td>{{ form.confidence_i33 }}</td>
                    </tr>
                    <tr>
                        <td>I34</td>
                        <td>{{ form.cell_i34 }}</td>
                        <td>{{ form.confidence_i34 }}</td>
                    </tr>
                    <tr>
                        <td>I35</td>
                        <td>{{ form.cell_i35 }}</td>
                        <td>{{ form.confidence_i35 }}</td>
                    </tr>
                    <tr>
                        <td>I36</td>
                        <td>{{ form.cell_i36 }}</td>
                        <td>{{ form.confidence_i36 }}</td>
                    </tr>
                    <tr>
                        <td>I37</td>
                        <td>{{ form.cell_i37 }}</td>
                        <td>{{ form.confidence_i37 }}</td>
                    </tr>
                    <tr>
                        <td>I38</td>
                        <td>{{ form.cell_i38 }}</td>
                        <td>{{ form.confidence_i38 }}</td>
                    </tr>
                    <tr>
                        <td>I39</td>
                        <td>{{ form.cell_i39 }}</td>
                        <td>{{ form.confidence_i39 }}</td>
                    </tr>
                    <tr>
                        <td>I40</td>
                        <td>{{ form.cell_i40 }}</td>
                        <td>{{ form.confidence_i40 }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="text-center">
                <button type="submit" class="btn btn-success" style="font-size: 20px; margin-top: 20px;">Submit</button>
            </div>
        </div>
    </form>
