<!-- OCR Verification Task -->

{% load staticfiles %}

<!-- ALERT ATTENTION TO INSTRUCTIONS -->
<div class="alert alert-warning" role="alert">Check the box if the images are clear, legible, and transcribable.</div>

<form action="/crowdsourcing/task/ocr-verification-1/" method="post">
    {% csrf_token %}

    <!-- TASK BODY -->
    <div class="row">
        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-1.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_1 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_1 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-2.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;" style="height: 100px;">
            <label for='{{ form.ocr_2 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_2 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-3.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;" style="height: 100px;">
            <label for='{{ form.ocr_3 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_3 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-4.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;" style="height: 100px;">
            <label for='{{ form.ocr_4 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_4 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-5.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;" style="height: 100px;">
            <label for='{{ form.ocr_5 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_5 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-6.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;" style="height: 100px;">
            <label for='{{ form.ocr_6 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_6 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-7.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;" style="height: 100px;">
            <label for='{{ form.ocr_7 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_7 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-8.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;" style="height: 100px;">
            <label for='{{ form.ocr_8 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_8 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-9.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;" style="height: 100px;">
            <label for='{{ form.ocr_9 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_9 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-10.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_10 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_10 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-11.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_11 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_11 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-12.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_12 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_12 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-13.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_13 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_13 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-14.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_14 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_14 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-15.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_15 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_15 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-16.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_16 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_16 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-17.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_17 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_17 }}
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'data/ocr_verification/ocr-18.png' %}"/>
        </div>
        <div class="col-md-2 well" style="height: 100px;">
            <label for='{{ form.ocr_18 }}'>Is this image clear?</label><br>
            Check if Yes (True):
            {{ form.ocr_18 }}
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success" style="font-size: 20px;">Submit</button>
    </div>
    <!-- TASK END -->
</form>
