{% load staticfiles %}

<h1>OCR VERIFICATION TASK</h1>

<!-- ALERT ATTENTION TO INSTRUCTIONS -->
<div class="alert alert-warning" role="alert">Identify the images to the best of your ability. All characters are english letters.</div>

<!-- TASK BODY -->
<div class="row">
    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-1.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-2.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-3.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-4.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-5.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-6.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-7.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-8.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="col-md-2 text-center">
        <img src="{% static 'data/ocr/ocr-9.png' %}"/>
    </div>
    <div class="col-md-2 well">
        <form class="form-inline">
          <div class="form-group">
            <label>Value</label><br/>
            <input type="text" class="form-control" placeholder="Enter value" name="value01" size="17"/>
            <label>
              <input type="checkbox"> Blank/No Image <br/>
              <input type="checkbox"> Not Legible <br/>
              <input type="checkbox"> Not a word
            </label>
            <p class="help-block">Helpful text</p>
          </div>
        </form>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

</div>
